.App-header1 {
    background-color: ORANGE;
    height: 30px;
  }
  .App-header2 {
    background-color: WHITE;
    height: 30px;
  }
  .App-header3 {
    background-color: GREEN;
    height: 30px;
  }